*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

label,
fieldset,
.no-drag {
  -webkit-app-region: no-drag;
}

.button {
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
}

.button--reverse {
  flex-direction: row-reverse;
}

.button::before {
  content: "";
  font-size: 20px;
  color: hsl(210, 100%, 40%);
  margin-right: 10px;
  animation: glow .75s ease-in-out infinite alternate, changeColor .75s ease-in-out infinite alternate;
  line-height: 1;
}

.button--reverse::before {
  margin-right: 0;
  margin-left: 10px;
}

.button--exit::before {
  content: "■";
}

.button--continue::before {
  content: "▼";
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px hsl(210, 100%, 40%), 0 0 5px hsl(210, 100%, 40%), 0 0 5px hsl(210, 100%, 40%);
  }

  to {
    text-shadow: 0 0 10px deepskyblue, 0 0 10px deepskyblue, 0 0 10px deepskyblue;
  }
}

@keyframes changeColor {
  from {
    color: hsl(210, 100%, 40%);
  }

  to {
    color: deepskyblue;
  }
}