<!DOCTYPE html>
<html>

<head>
  <title>Dawn of A New Day - Clock</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/common.css">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
</head>

<body class="drag">
  <button data-action="close:clock" class="button button--exit"></button>
  <termina-clock assets="../assets/termina_clock"></termina-clock>
  <script type="module" src="../js/clock.js"></script>
</body>

</html>